/prometheus-2.47.0/data
/prometheus-2.47.0/prometheus
/jpetstore-6/target
/.vim
ocb
/custom-otelcol/deployment/custom-otelcol
/custom-otelcol/daemonset/custom-otelcol
/node_modules
/pulling-server/node_modules
/custom-otelcol/socketSidecar/node_modules
/pulling-server/receivedData
/otelcol/telemetry
/otelcol/otelcol
/.settings
