/prometheus-2.47.0/data
/prometheus-2.47.0/prometheus
/jpetstore-6/target
/.vim
ocb
/custom-otelcol/deployment/custom-otelcol
/custom-otelcol/daemonset/custom-otelcol
/node_modules
/socketClient/node_modules
/custom-otelcol/socketSidecar/node_modules
/socketClient/receivedData
/otelcol/localTelemetry
/otelcol/remoteTelemetry
/otelcol/otelcol
/.settings
